body {
background-color: #231b32;
text-align: center;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
   
div{
background-color: darkgreen;
border-radius: 20px;
padding: 30px 0px 50px 0px;
margin-top: 40px;
position: relative;
left: 25%;
width: 50%;
} 
   
#canvas{
background-color: black;
border-radius: 5px;
box-shadow: 0px 0px 10px 0px black;
}
   
h1 {
margin-bottom: 150px;
margin-top: 70px;
font-size: 45px;
color: yellow;
font-weight: bolder;
}
   
a {
text-decoration: none;
color: black;
}
   
button{
height: 50px;
width: 100px;
font-weight: bold;
font-size: 15px;
}
   
#newgame{
width: 125px;
height: 50px;
margin-bottom: 30px;
font-weight: bold;
font-size: 15px;
border: 0px;
border-radius: 10px;
background-color: pink;
}
#newgame:hover{
background-color: #2f6f86;
border-radius: 10px;
}
   
#credits{
background-color: grey;
border: 0px;
border-radius: 10px;
}
   
#credits:hover{
background-color: #2f6f86;
border-radius: 10px;
}