#levelAlert{
background-color: #282828   ;
width: 50%;
position: absolute;
left: 25%;
margin-top: 5%;
border-radius: 5%;
box-shadow: -2px 2px 15px 0px black;
}

body{
background-color: aquamarine;
}

#menu{
position: absolute;
top:50%;
right: 80%;
}

#menu:hover{
background-color:#2f6f86;
border-radius: 5px;
}

button{
border: 0px;
height: 6%;
width: 100px;
border-radius: 5px;
background-color: pink;
color:black;
font-weight: bold;
}