#two{
background-color: #282828;
margin-top: 5%;
border-radius: 5%;
box-shadow: -2px 2px 15px 0px black;
}

body{
background-color: rgb(252, 255, 79);
}

#menu {
position: absolute;
left: 60%;
top: 50%;
}

#menu:hover{
background-color:#2f6f86;
border-radius: 5px;
}

button{
border: 0px;
height: 6%;
width: 8%;
border-radius: 5px;
background-color: rgb(97, 148, 187);
color:black;
font-weight: bold;
}