body {
background-color: rgb(252, 255, 79);
font-family: "Circular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#canvas {
width: 50%;
border: 1px solid black;
border-radius: 5px;
background-color: black;
box-shadow: -2px 2px 5px 0px black;
background: url('./imgs/default_background.png');
background-repeat: no-repeat;
background-size: 101%;
}
 
.runReset{
margin-top: 50px;
 
}
 
#button1{
height: 60px;
width: 60px;
margin-right: 20px;
color: black;
font-size: 10px;
border-radius: 50px;
background-color: pink;
border: 2px solid black;
}

#button1:hover{
background-color: black;
border-radius: 50px;
}

#reset{
height: 60px;
width: 60px;
color: black;
font-size: 10px;
border-radius: 50px;
background-color: grey;
border: 2px solid black;
}

#reset:hover{
background-color: black;
border-radius: 50px;
}

.position{
position: absolute;
right: 0px;
top: 35%;
}

.theme_positions {
position: absolute;
right: 25%;
top: 25%;
background-color: black;
padding: 2%;
text-align: center;
border-radius: 5px;
}
.theme_positions h4 {
color: white;
}
.theme_positions button {
width: 100px;
height: 30px;
margin-top: 10px;
background-color: rgb(0, 73, 4);
color: white;
border-radius: 2px;
cursor: pointer;
}
/*
.animation_position {
position: absolute;
left: 15%;
top: 78%;
background-color: black;
padding: 1%;
text-align: center;
border-radius: 5px;
}
.animation_position h4 {
color: white;
}
.animation_position button {
background-color: rgb(0, 73, 4);
color: white;
border-radius: 2px;
cursor: pointer;
}*/

#up{
position: absolute;
bottom: 0px;
right: 80px;
width: 65px;
height: 65px;
color: black;
background-color: yellow;
border-radius: 50px;
border: 2px solid black;
}
#up:hover, #left:hover, #right:hover, #down:hover{
background-color: black;
border-radius: 50px;
}

#left{
position: absolute;
right: 100px;
top: 0px;
width: 65px;
height: 65px;
color: black;
margin-right: 30px;
background-color: red;
border-radius: 50px;
border: 2px solid black;
}
#right{
position: absolute;
right: 30px;
top: 0px;
width: 65px;
height: 65px;
color: black;
background-color: blue;
border-radius: 50px;
border: 2px solid black;
}
#down{
position: absolute;
right: 80px;
top: 60px;
width: 65px;
height: 65px;
color: black;
background-color: green;
border-radius: 50px;
border: 2px solid black;
}